@model database_web.Models.Review

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar esta review?</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompradorFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompradorFK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnuncioFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnuncioFK)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
