@model IEnumerable<database_web.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.conteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompradorFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnuncioFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.conteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompradorFK)
            </td>
            <td>
                <a asp-action="verAnuncio" asp-route-id="@item.Id">ir para o anuncio</a>
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
