@model database_web.Models.Anuncio

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Anuncio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeradorFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeradorFK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorFK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.nome)
        </dd>
    </dl>
</div>
<div>
    <form method="post" action="@Url.Action("Comprar", "Anuncio")">
        <div class="form-group">
            <input asp-action="Compra" type="submit" value="Comprar" class="btn btn-primary" />
        </div>
    </form>
</div>
