@model IEnumerable<database_web.Models.Anuncio>

@{
    ViewData["Title"] = "Index";
}

<h1>Anuncios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendedorFK)
            </th>
            <th>
                Nome do produto
            </th>
            <th>
                Descrição do produto
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendedorFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.nome)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.descricao)
                </td>

            <td>
                <a asp-action="verReviews" asp-route-id="@item.Id">Ver as reviews</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">escrever Review</a> |
                <a asp-action="Compra" asp-route-id="@item.Id">Comprar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
